/* ContainerMover */
.editable:hover {
    border-width: 3px !important;
    border-color: black !important;
    border-style: dotted !important;
}

.news-feed-viewport {
    width:  1780px;
    height:  920px;

    /*overflow-x: scroll;*/
    /*overflow-y: hidden;*/

    border-style: solid;
    border-width: 5px;
    border-color: red;

    /*display: inline-table;*/
    display: inline-flex;
}

.news-feed-category {
    height: 100%;
    width: 35%;

    /*display: table-cell;*/

    border-style: solid;
    border-width: 5px;
    border-color: black;

    overflow-x: hidden;
    overflow-y: scroll;
}

.news-feed-card: {
    width: 100%;
    height:  auto;
    
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    border-color: green;
    padding: 10px;

    overflow-x: hidden; 
}

/* Text Editor */
.text-document-line {
    width: 100%;
    height: auto;
    margin: 0;
    padding:  0;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}