.ns-selected {
  box-shadow: 0px 0px 2px 10px rgba(0, 0, 255, .2);
}

.out-of-sync {
  opacity: 0.25
}

/* ContainerMover */
.editable:hover {
    border-width: 3px !important;
    border-color: black !important;
    border-style: dotted !important;
}
/* Containers */
.ns-horizontal-list {
  min-width: 64px;
  width: auto;
  display: flex;
}

.ns-horizontal-list-unit {
  position: static;
  height: inherit
}

.ns-vertical-list {
  margin: 0px;
  padding: 15px;
  min-height: 64px;
  height: auto;
}

.ns-vertical-list-unit {
  margin: 5px;
  position: static;
  width: 98%; 
}

.ns-grid {
  height: auto;
  min-height: 100px;
}

.ns-grid-unit {
  position: static;
  float: left;
}

/* Content Management */
.ns-viewport {
  overflow-x: scroll;
  overflow-x: scroll;
}

.ns-horizontal-viewport {
  overflow-y: hidden;
  overflow-x: scroll;
}

.ns-vertical-viewport {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Linker */
.container-linker-dot {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: lawngreen;
} 

.ns-vertical-slice-interface {
  position: fixed;
  max-width: 10cm;
  max-height: 20cm;
  overflow-x: wrap;
  overflow-y: scroll;
}

.ns-modal-interface {

}

.nodeshow-content {
  position: absolute;
  left:  0px;
  top:  0px;
  overflow: scroll;
  margin: 0px;
  padding: 0px;
  border-width: 0px;

  width: 100vw;
  height: 100vh;
}

body {
  width:  100vw;
  height:  100vh;
}