/* ContainerMover */
.editable:hover {
    border-width: 3px !important;
    border-color: black !important;
    border-style: dotted !important;
}
/* Containers */
.ns-horizontal-list {

}

.ns-horizontal-list-unit {
  position: static;
  height: inherit
}

.ns-vertical-list {

}

.ns-vertical-list-unit {
  position: static;
  width: inherit;  
}

.ns-grid {

}

.ns-grid-unit {
  position: static;
  float: left;
}
/* Content Management */
.ns-viewport {
  overflow-x: scroll;
  overflow-x: scroll;
}

.ns-horizontal-viewport {
  overflow-y: hidden;
  overflow-x: scroll;
}

.ns-vertical-viewport {
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Linker */
.container-linker-dot {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: lawngreen;
} 

/* Text Editor */
.text-document-line {
    width: 100%;
    height: auto;
    margin: 0;
    padding:  0;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 30px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}