<h3> Background Color </h3>
<input 
type="color" 
id="ns-background-color" 
name="ns-background-color" 
value="#e66465" 
data-container-actions='[{"trigger":"input","call":"container.edit.style.changeBackgroundColor","params":[]},{"trigger":"change","call":"container.edit.style.changeBackgroundColor","params":[]}]'>

<h3> Border Type </h3>
<div 
style="border-style: none; border-width: 5px; border-color: black; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeBorderType","params":[]}}'> 
none </div>
<div style="border-style: solid; border-width: 5px; border-color: black; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeBorderType","params":[]}}'> 
solid </div>
<div style="border-style: dotted; border-width: 5px; border-color: black; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeBorderType","params":[]}}'> 
dotted
</div>
<div style="border-style: dashed; border-width: 5px; border-color: black; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeBorderType","params":[]}}'> 
dashed
</div>
<div style="border-style: double; border-width: 5px; border-color: black; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeBorderType","params":[]}}'>
double
</div>
<div style="border-style: groove; border-width: 5px; border-color: black; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeBorderType","params":[]}}'> 
groove
</div>
<div style="border-style: ridge; border-width: 5px; border-color: black; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeBorderType","params":[]}}'> 
ridge
</div>
<div style="border-style: inset; border-width: 5px; border-color: black; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeBorderType","params":[]}}'> 
inset
</div>
<div style="border-style: outset; border-width: 5px; border-color: black; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeBorderType","params":[]}}'> 
outset
</div>

<h3> Border Color </h3>
<input type="color" id="ns-border-color" name="ns-background-color" value="#e66465" data-container-actions='{"0":{"trigger":"input","call":"container.edit.style.changeBorderColor","params":[]},"1":{"trigger":"change","call":"container.edit.style.changeBorderColor","params":[]}}'>

<h3> Border Size </h3>
<input 
type="text" 
id="ns-border-size" 
name="ns-border-size" 
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeBorderSize","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>

<select id="ns-border-size-unit" name="ns-border-size-unit" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>

<h3> Shape </h3>
<input 
type="text" 
id="ns-corner-1" 
name="ns-corner-1" 
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeBorderCorners","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>

<select id="ns-corner-1-unit" name="ns-corner-1-unit" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>
<br/>

<input 
type="text" 
id="ns-corner-2" 
name="ns-corner-2" 
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeBorderCorners","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>

<select id="ns-corner-2-unit" name="ns-corner-2-unit" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>
<br/>

<input 
type="text" 
id="ns-corner-3" 
name="ns-corner-3" 
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeBorderCorners","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>

<select id="ns-corner-3-unit" name="ns-corner-3-unit" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>
<br/>

<input 
type="text" 
id="ns-corner-4" 
name="ns-corner-4" 
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeBorderCorners","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>

<select id="ns-corner-4-unit" name="ns-corner-4-unit" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>

<div 
style="border-radius: none; background-color: blue; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeShape","params":[]}}'> 
none </div>
<div 
style="border-radius: 5px; background-color: blue; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeShape","params":[]}}'> 
rounded </div>
<div 
style="border-radius: 15px; background-color: blue; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeShape","params":[]}}'> 
rounded 2</div>
<div 
style="border-radius: 0px 0px 0px 15px; background-color: blue; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeShape","params":[]}}'> 
one corner </div>
<div 
style="border-radius: 50% 50% 50% 50%; background-color: blue; width:100%; height: 64px; margin-top:5px"
data-container-actions='{"0":{"trigger":"click","call":"container.edit.style.changeShape","params":[]}}'> 
circle </div>

<h3>Margin</h3>
<input 
type="text" 
id="ns-margin" 
name="margin"
placeholder="Overall Margin" 
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>
<select id="margin-unit" 
	  name="margin-unit"
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]}}'	   
	data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>
<input 
type="text" 
id="ns-marginLeft" 
name="margin-left" 
placeholder="Margin Left"
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>
<select id="margin-left-unit" 
	  name="margin-left-unit"
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]}}'	   
	data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>
<input 
type="text" 
id="ns-margin-top" 
name="margin-top" 
placeholder="Margin Top" 
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>
<select id="margin-top-unit" 
	  name="margin-top-unit"
	  placeholder="Margin Top"  
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]}}'	   
	data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>
<input 
type="text" 
id="ns-margin-right" 
name="margin-right" 
placeholder="Margin Right"
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>
<select id="margin-right-unit" 
	  name="margin-right-unit"
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]}}'	   
	data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>
<input 
type="text" 
id="ns-margin-bottom" 
name="margin-bottom"
placeholder="Margin Bottom"
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>
<select id="margin-bottom-unit" 
	  name="margin-bottom-unit"
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]}}'	   
	data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>

<H3>Padding</h3>
<input 
type="text" 
id="padding" 
name="padding"
placeholder="Padding"
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>
<select id="padding-unit" 
	  name="padding-unit"
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]}}'	   
	data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>

<input 
type="text" 
id="padding-left" 
name="padding-left"
placeholder="Padding Left"
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>
<select id="padding-left-unit" 
	  name="padding-left-unit"
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]}}'	   
	data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>
<input 
type="text" 
id="padding-top" 
name="padding-top" 
placeholder="Padding Top"
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>
<select id="padding-top-unit" 
	  name="padding-top-unit"
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]}}'	   
	data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>
<input 
type="text" 
id="padding-right" 
name="padding-right" 
placeholder="Padding Right"
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>
<select id="padding-right-unit" 
	  name="padding-right-unit"
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]}}'	   
	data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>
<input 
type="text" 
id="padding-bottom" 
name="padding-bottom"
placeholder="Padding Bottom" 
data-container-actions='[{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]},{"trigger":"focus","call":"container.edit.style.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.edit.style.onTextFieldBlur","params":[]}]'>
<select id="padding-bottom-unit" 
	  name="padding-bottom-unit"
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changeMarginOrPadding","params":[]}}'	   
	data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>