.ns-extensions-manager-toggle {
    width: auto;
    height: 32px;
    padding:  5px;
    border-radius: 2px;
    background-color: green;
}

.ns-extensions-manager-toggle-enabled {
    background-color: blueviolet;
}

.ns-extensions-manager-toggle-disabled {
    background-color: grey;
}