<h3>Width</h3> Lock/Unlock
<select id="ns-width-unit" 
	  name="ns-width-unit"
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changeWidthUnit","params":[]}}'	   
	data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>

<h3>Height<h3> Lock/Unlock
<select id="ns-height-unit" 
	  name="ns-height-unit"
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changeHeightUnit","params":[]}}'
	data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>

<h3>Horisontal Position</h3> Lock/Unlock
<select id="ns-pos-y-unit" 
	  name="ns-pos-y-unit"
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changePosXUnit","params":[]}}'data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>

<h3>Vertical Position</h3> Lock/Unlock
<select id="ns-pos-x-unit" 
	  name="ns-pos-x-unit"
	data-container-actions='{"0":{"trigger":"change","call":"container.edit.style.changePosYUnit","params":[]}}'data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	<option value="px" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	px</option>
	<option value="%" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
	%</option>
</select>