<div class="ns-horizontal-list ns-text-editor-interface "
      data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
        
        <select id="ns-text-editor-font" name="ns-text-editor-font" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
          <option value="default" data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>Default</option>
        </select>
        
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.fontUp","params":[]}}'
        >+</div>

        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text","params":[]}}'
        >16</div>

        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.fontDown","params":[]}}'
        >-</div>

        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.bold","params":[]}}'
        >B</div>

        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.italic","params":[]}}'>
          <i data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
          I</i>
        </div>

        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.underlined","params":[]}}'
        >U</div>

        <input type="color" id="ns-background-color" name="ns-background-color" value="#e66465" 
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='{"0":{"trigger":"input","call":"container.edit.text.setColor","params":[]},"1":{"trigger":"change","call":"container.edit.text.setColor","params":[]}}'>
        |
        <input type="color" id="ns-background-color" name="ns-background-color" value="#e66465" 
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='{"0":{"trigger":"input","call":"container.edit.text.setHighlightColor","params":[]},"1":{"trigger":"change","call":"container.edit.text.setHighlightColor","params":[]}}'>

        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.align","params":["left"]}}'
        >Left</div>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.align","params":["center"]}}'
        >Centre</div>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.align","params":["right"]}}'
        >Right</div>
</div>