<div class="ns-horizontal-list ns-text-editor-interface "
      data-container-permissions='{"container.edit":{"*":false}}'>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.create.changeType","params":[]}}'
        >Font</div>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.create.changeType","params":[]}}'
        >+</div>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.create.changeType","params":[]}}'
        >16</div>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.create.changeType","params":[]}}'
        >-</div>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.bold","params":[]}}'
        >B</div>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.create.changeType","params":[]}}'
        ><i>I</i></div>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.underline","params":[]}}'
        >U</div>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.underline","params":[]}}'
        >A</div>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.underline","params":[]}}'
        >Hc</div>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.align","params":["left"]}}'
        >Left</div>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.align","params":["center"]}}'
        >Centre</div>
        <div id="ns-text-editor-font" class="ns-horizontal-list-unit ns-text-editor-interface-unit"
        data-container-permissions='{"container.edit":{"*":false}}'
        data-container-actions='{"0":{"trigger":"click","call":"container.edit.text.align","params":["right"]}}'
        >Right</div>
</div>