<h3> Container ID </h3>
<h5 id='ns-container-id'></h5>

<button data-container-actions='{"0":{"trigger":"click","call":"container.edit.json.applyChanges","params":[]}}'>Apply</button>

<h3> Permissions </h3>
example: <pre>{"container.delete":{"caller":false}}</pre>
<textarea 
id="ns-container-permissions" 
name="ns-container-permissions"
data-container-actions='[{"trigger":"focus","call":"container.content.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.content.onTextFieldBlur","params":[]}]'>
	
</textarea>

<h3> Actions </h3>
example: <pre>[{"trigger":"click","call":"container.create.changeType","params":[]}]</pre>
<textarea 
id="ns-container-actions" 
name="ns-container-actions"
data-container-actions='[{"trigger":"focus","call":"container.content.onTextFieldFocus","params":[]},{"trigger":"blur","call":"container.content.onTextFieldBlur","params":[]}]'>
</textarea>
