<div style="border-width: 2px;
      border-color: aqua;
      background: #bbbbbb;
      padding: 20px;
      width: 100%;
      height: 128px"
      data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>
        <div class="ns-horizontal-list" style="border-radius: 5px;
        border-width: 2px;
        border-color: aqua;
        background: #1b7c30;
        margin:5px;
        padding: 20px;
        width: 64px;
        height: 64px;"
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='[{"trigger":"click","call":"container.create.changeType","params":[]}]'
        >Horizontal List</div>
        <div class="ns-vertical-list" style="border-radius: 5px;
        border-width: 2px;
        border-color: aqua;
        background: #1b7c30;
        margin:5px;
        padding: 20px;
        width: 64px;
        height: 64px;"
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='[{"trigger":"click","call":"container.create.changeType","params":[]}]'
        >Vertical List</div>
        <div class="ns-grid" style="border-radius: 5px;
        border-width: 2px;
        border-color: aqua;
        background: #1b7c30;
        margin:5px;
        padding: 20px;
        width: 64px;
        height: 64px;"
        data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
        data-container-actions='[{"trigger":"click","call":"container.create.changeType","params":[]}]'
        >Grid</div>
</div>