<div id="newsstand-interface" class="newsstand-interact-interface"
      data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'>  
  <button class="newsstand-interface-button"
  data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
  data-container-actions='{"0":{"trigger":"click","call":"container.newsstand.open","params":[-1]}}'>
  Open
  </button>
  <button class="newsstand-interface-button"
  data-container-permissions='{"container.edit":{"*":false},"container.broadcast":{"*":false}}'
  data-container-actions='{"0":{"trigger":"click","call":"container.newsstand.delete","params":[-1]}}'>
  Not Interested...
  </button>
</div>